body {
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00d2ff, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00d2ff, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.body-text {
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.logo {
    color: white;
}

.nav-wrapper {
    background: #252f3f;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.link-item {
    color: #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
}

.link-item:active,
.link-item:hover,
.link-active {
    background: #777;
}

.sublinks {
    position: absolute;
    top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #5145cd;
    padding: 10px;
    border-radius: 5px;
}